Week7-SOAP/LibraryImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.revature.com/" name="LibraryImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.revature.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.revature.com/" schemaLocation="LibraryImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllBooks">
    <part name="parameters" element="tns:getAllBooks"/>
  </message>
  <message name="getAllBooksResponse">
    <part name="parameters" element="tns:getAllBooksResponse"/>
  </message>
  <message name="addBook">
    <part name="parameters" element="tns:addBook"/>
  </message>
  <message name="addBookResponse">
    <part name="parameters" element="tns:addBookResponse"/>
  </message>
  <message name="LibraryFullException">
    <part name="fault" element="tns:LibraryFullException"/>
  </message>
  <portType name="Library">
    <operation name="getAllBooks">
      <input wsam:Action="http://service.revature.com/Library/getAllBooksRequest" message="tns:getAllBooks"/>
      <output wsam:Action="http://service.revature.com/Library/getAllBooksResponse" message="tns:getAllBooksResponse"/>
    </operation>
    <operation name="addBook">
      <input wsam:Action="http://service.revature.com/Library/addBookRequest" message="tns:addBook"/>
      <output wsam:Action="http://service.revature.com/Library/addBookResponse" message="tns:addBookResponse"/>
      <fault message="tns:LibraryFullException" name="LibraryFullException" wsam:Action="http://service.revature.com/Library/addBook/Fault/LibraryFullException"/>
    </operation>
  </portType>
  <binding name="LibraryImplPortBinding" type="tns:Library">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="LibraryFullException">
        <soap:fault name="LibraryFullException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LibraryImplService">
    <port name="LibraryImplPort" binding="tns:LibraryImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

